/* {
	outline: dotted 1px red;
}*/

body {
	font-family: "Arial";
	font-size: 14px;
	color: #222;
}
img {
	display: block;
	width: 100%;
}
header {
	background-color: #333;
	padding: 10px;
	overflow: hidden;
}
header h1 {
	color: #FFF;
	float: left;
	font-size: 24px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-left: 60px;
	margin-top: 5px;
}
nav {
	float: right;
}
header nav ul {

}
header nav li {
	display: inline-block;
}
nav li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px;
}
nav li a:hover {
	color: #333;
	background-color: #FFF;
}
#noticias-destacadas img {
	width: 100%;
	
}
#noticias-destacadas h2 {
	background-color: #333;
	color: #FFF;
	font-weight: 700;
	padding: 20px;
	font-size: 48px;
}

.noticia {
	display: flex;
	flex-direction: row; /* El resto de las opciones de esta propiedad de Flex: row / column / row-reverse / column-reverse */
	align-items: center; /* El resto de las opciones de esta propiedad de Flex: flex-star / center / flex-end */
	justify-content: space-around; /* El resto de las opciones de esta propiedad de Flex: flex-start / center / flex-end / space-around */

	border-bottom: solid 1px #DDD;
	margin: 0 20px;

/* PARA hacer que las lineas (border) q siguen las cajas de cada noticia no lleguen hasta el final de la pantalla
deberiamos aplicar un margin. Hay tres versiones. 
La version extendida es:
	margin-top: 0;
	margin-bottom: 0;
	margin- right: 20px;
	margin-left: 20px;

Una version mas simplificada es:
	margin: 0 20px 0 20px; (as in: top/right/bottom/left, o configuracion con el sentido de las agujas del reloj)

La verion todavia mas simplificada (y que es la elegida) es:
	margin: 0 20px; (As in: ejes Y / X)

*/
}
.noticia-img {
	width: 30%
}
.noticia-txt {
	width: 65% /* el porcentaje que le otorge a cada width de cada uno de los elementos debe darme un porcentaje con 
	el cual flex debera gestioanr los espacios, en este caso tendra un 5% para definir los margenes */
}
.noticia-txt h3 {
	font-size: 32px;
	font-weight: 700;
}
.noticia-txt p {	
	font-size: 20px; 
}
.noticia-txt p:nth-of-type(1) { /* Esto es para hacer que un <p> tenga negrita pero esto no aplique para el resto de los <p> */
	font-weight: 700;	
}

.noticia-txt h3,
.noticia-txt p {
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 15px;
}

footer {
	background-color: #333;
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	margin-top: 10px;
}
